@media(max-width:343px) {
    header{  
    .logo{ 
            width: 38%;
            margin: 20px 30px 2px 127px;
            }
    .navbar {
            font-size: 11px;
            gap: 20px;
            margin: 5px 0px 10px 73px; 
    } 
    } 
}