
.main-index-media {
display: grid;
width: 100%;
height: auto;
background-color: $background-main;
border-radius: 15%;
justify-content:center;
align-items: center;
justify-items: center;
row-gap: 8px;
column-gap: 9%;
padding: 5%;
grid-template-columns: repeat (2, 1 fr);
grid-template-rows: repeat (2, 1 fr);
grid-template-areas: 
"img-1  img-2 "
"img-1  img-2 ";

.img-1 {
    /* width: 70%;*/
    display: grid;
    @include uno(column,center,center)
}
.img-2 {
   /* width: 70%;*/
    display: grid;
    @include uno(column,center,center)
}
.item-2  {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:black;
    font-family:'Poppins', sans-serif;
    font-size: 28px; 
    position:relative;
    right: -1px;
    bottom: 165px;
    background-color:#ffffff1f;
    border-radius:  10%;
    padding: 4%;

}
.item-4 {
@extend .item-2;
    right: 1px;
}
}
/*
.main-index-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 150vh;
    background-color: $background-main;
    border-radius: 15%;
    gap: 5%;
    div {
        a{
        &:hover{text-decoration: none;
        color:rgb(77, 76, 76); 
        cursor:pointer;
}
    }
        }
.img-1 {
    width: auto;
    position:relative;
    right: -100px;
    }
.img-2  {
    width: auto;
    position:relative;
    right: -60px;
}
.item-2  {
    text-decoration: none;
    color:black;
    font-family:'Poppins', sans-serif;
    font-size: 28px; 
    position:relative;
    right: 215px;
    bottom: 100px;
    background-color:#ffffff1f;
    border-radius:  10%;
}
.item-4 {
@extend .item-2;
    right: 235px;
    bottom: 105px;
}
}*/
