@media (max-width:740px) {
/*M-queries de Page Favoritos*/
.main-favoritos { 
.text-banner-fav {
        font-size: 24px;
    }
.foto-favuno img {
    width: 180px;
    height: 310px;
}
.foto-favdos img {
    width: 180px;
    height: 310px;
}
.foto-favtres img { 
    width: 180px;
    height: 310px;
}
}}