.main-index-media {
display: grid;
width: 100%;
height: auto;
background-color: $background-main;
border-radius: 15%;
justify-content:center;
align-items: center;
justify-items: center;
column-gap: 6%;
padding: 5%;
grid-template-columns: repeat (2, 1 fr);
grid-template-rows: repeat (2, 1 fr);
grid-template-areas: 
"img-1  img-2 "
"img-1  img-2 ";
.img-1 {
    display: grid;
    justify-items: center;
    @include uno(column,center,center)
}
.img-2 {
    display: grid;
    justify-items: center;
    @include uno(column,center,center)
}
.item-2  {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:black;
    font-family:'Poppins', sans-serif;
    font-size: 28px; 
    position:relative;
    right: -1px;
    bottom: 165px;
    background-color:#ffffff1f;
    border-radius:  10%;
    padding: 3%;
}
.item-4 {
@extend .item-2;
    right: 1px;
}
}