.main-decoracion {
    display: grid;
    width: 100%;
    height: 180vh;
    font-family:'Poppins', sans-serif;
    background-color: $background-main;
    column-gap: 5px; 
    row-gap: 9px;
    padding: 8%;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    grid-template-columns: repeat (3, 1 fr);
    grid-template-rows: repeat 19% (2, 1 fr);
    grid-template-areas: 
    "text-banner text-banner text-banner"
    "uno dos tres"
    "cuatro cinco seis"
    }
    .text-banner {
    grid-area: text-banner;
    font-family:'Poppins', sans-serif;
    font-weight: lighter;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
    padding: 10px 25px 30px 25px
    }
    .uno {
    grid-area: uno;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-content: center
    }
    .dos {
    @extend .uno;
    grid-area: dos;
    }
    .tres { 
        @extend .uno;
        grid-area: tres;
        }
    .cuatro {
        @extend .uno;
        grid-area: cuatro;
    }
    .cinco {
        @extend .uno;
        grid-area: cinco;
    }
    .seis {
        @extend .uno;
        grid-area: seis;
    }
    