.main-indumentaria {
    display: grid;
    width: 100%;
    height: auto;
    background-color: $background-main;
    font-family:'Poppins', sans-serif;
    column-gap: 40px;
    row-gap: 9px;
    border-radius: 15%;
    padding: 10%;
    justify-content: center;
    grid-template-columns: repeat (3, 1 fr);
    grid-template-rows: repeat (2, 1 fr);
    grid-template-areas: 
    "f-uno f-dos f-tres"
    "f-cuatro f-cinco f-seis";
    div {
        a{
        &:hover{text-decoration: none;
        color:#E4CD01; 
        cursor:pointer;
        }}}}
main div span a {
    text-decoration: none;
    list-style: none;
    color:black;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    }
main div img {
    border-radius: 15%;
}
main div span{
    padding: 3%;
    font-size: 16px;
    text-align: center;
}
.f-uno {
    grid-area: f-uno;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.f-dos {
    @extend .f-uno;
    grid-area: f-dos;
    }
.f-tres { 
    @extend .f-uno;
    grid-area: f-tres;
    }
.f-cuatro {
    @extend .f-uno;
    grid-area: f-cuatro;

}
.f-cinco {
    @extend .f-uno;
    grid-area: f-cinco;
}
.f-seis {
    @extend .f-uno;
    grid-area: f-seis;
}