@media(max-width:1024px){   
    header{
        font-size: 16px;
    }
/*M-queries de Page Indumentaria*/
.main-indumentaria {
    height: auto;
    column-gap: 25px;
    row-gap: 20px;
    padding: 8%;
}
/*M-queries de Page decoracion*/
.main-decoracion {
.text-banner {
    font-size: 21px;
}
/*M-queries de Page Favoritos*/    
    .main-favoritos { 
        .text-banner-fav {
            font-size: 25px;
        }}
 /*M-queries de Page Registracion*/       
.main-regis-media{
        display: flex;
        width: 100%;
        height: 110vh;
        font-size: 16px;
.registrarme-banner {
    font-size: 21px;
    margin: 70px 100px 40px 100px 
}
.registrarme {
    text-align: center;
    font-size: 16px;
    padding: 30px;
}
.class-formu {
    padding: 50px 250px 60px 250px;
}}
}
footer {
    font-size: 17px;
}}
