@media (max-width:425px) {
    header{
    .logo{ 
            width: 50%;
            margin: 30px 2px 2px 20px
            }
            .navbar {
                    font-size: 10px;
                    gap: 4px;
                    margin: 40px 22px 40px 0px;   
            } }
            main div span{
                padding: 3%;
                font-size: 11px;
                text-align: center;
            }  
            main div span a {
                text-decoration: none;
                list-style: none;
                color:black;
                font-family:'Poppins', sans-serif;
                font-size: 10px;
                }      
/*M-queries de Page Index*/
.main-index-media {
    column-gap: 1%;
    padding: 15% 5% 10% 5%;
    .img-1 img {
        width: 90%;
    }
    .img-2 img {
        width: 96%;
    }
    .item-2  {
        font-size: 16px; 
        bottom: 80px;
        padding: 3%;
    }
    .item-4 {
        font-size: 16px; 
        bottom: 80px;
        padding: 3%;
    }
}
/*M-queries de Page indumentaria*/
.main-indumentaria {
    .f-uno img {
            width: 80%;
        }
    .f-dos img {
            width: 80%;
            }
    .f-tres img  {
            width: 80%;
            }
    .f-cuatro img {
            width: 80%;
            }
    .f-cinco img {
            width: 80%;
            }
    .f-seis img {
            width: 80%;
            }
}
/*M-queries de Page decoracion*/
.main-decoracion {
.text-banner {
    font-size: 13px;
}
.fotos-queries-320{ 
    justify-items: center;
    width: 80%;
}
}
/*M-queries de Page registracion*/
.main-regis-media{
    width: auto;
    height: auto;
    font-size: 12px;
.registrarme-banner {
    font-size: 14px;
    margin: 50px 50px 50px 30px;  
}
.registrarme {
    text-align: center;
    font-size: 10px;
    padding: 30px;
}
.class-formu {
    padding: 40px 90px 60px 90px;
}
}
/*M-queries de Page favoritos*/
.main-favoritos { 
    .text-banner-fav {
        font-size: 13px;
    }
    .foto-favuno img {
        width: 110px;
        height: 210px;
}
    .foto-favdos img {
        width: 110px;
        height: 210px;
}
    .foto-favtres img { 
        width: 110px;
        height: 210px;
}
}
footer {
    display: flex;
    width: 100%; 
    height: auto;
    background-color: #E4C6BD ;
    flex-direction: row;  
    flex-wrap: wrap;
    font-size: 13px;

}
section ul li a img {
    width: 18px;
    height: 18px; 
}}