@media (max-width:425px) {
    header{
.logo{ 
    width: 50%;
    margin: 30px 2px 2px 20px
            }
.navbar {
        font-size: 10px;
        gap: 4px;
        margin: 40px 22px 40px 0px;   
    } }
main div span{
        padding: 3%;
        font-size: 12px;
        text-align: center;
            }  
main div span a {
        text-decoration: none;
        list-style: none;
        color:black;
        font-family:'Poppins', sans-serif;
        font-size: 10px;
                }      
/*M-queries de Page Index*/
.main-index-media {
    width: 100%;
    height: 90vh;
    column-gap: 1%;
.img-1 img {
        width: 90%;
    }
.img-2 img {
        width: 96%;
    }
.item-2  {
        font-size: 16px; 
        bottom: 65px;
        padding: 3%;
    }
.item-4 {
        font-size: 16px; 
        bottom: 65px;
        padding: 3%;
    }
}
/*M-queries de Page indumentaria*/
.main-indumentaria {
.queries-indumentaria{
        justify-items: center;
        width: 160px;
        height: 160px;
}
}
/*M-queries de Page decoracion*/
.main-decoracion {
.text-banner {
    font-size: 12px;
    padding: 2% 10% 6% 10%;
}
.fotos-queries-320{ 
    justify-items: center;
    width: 160px;
    height: 190px;
}
}
/*M-queries de Page registracion*/
.main-regis-media{
    width: auto;
    height: auto;
    font-size: 12px;
.registrarme-banner {
    font-size: 14px;
    margin: 50px 50px 50px 30px;  
}
.registrarme {
    text-align: center;
    font-size: 10px;
    padding: 30px;
}
.class-formu {
    padding: 40px 90px 60px 90px;
}
}
/*M-queries de Page favoritos*/
.main-favoritos { 
    width: 100%;
    height: 90vh;
    padding: 12% 0% 15% 0%;
.text-banner-fav {
        font-size: 17px;
    }
.foto-favuno img {
        width: 110px;
        height: 210px;
}
.foto-favdos img {
        width: 110px;
        height: 210px;
}
.foto-favtres img { 
        width: 110px;
        height: 210px;
}
}
footer {
.iconos-footer {
        margin: 55px 1px 49px 15px;  
}
section ul li a img {
    width: 19px;
    height: 19px; 
}}}