@media (max-width:768px) {
    .logo{ 
            width: 60%;
            }
            .navbar {
                    font-size: 14px;
                    gap: 5px;
                    margin: 40px 30px 50px 0px;   
            } 
            main div span{
                font-size: 14px;
            }  
            main div span a {
                font-size: 14px;
                }      
/*M-queries de Page Indumentaria*/
.main-indumentaria {
    display: grid;
    width: 100%;
    border-radius: 15%;
    justify-content: center;
    height: auto;
    font-family:'Poppins', sans-serif;
    grid-template-columns: repeat (2, 1 fr);
    grid-template-rows: repeat (3, 1 fr);
    grid-template-areas: 
    "f-uno f-dos"
    "f-tres f-cuatro"
    "f-cinco f-seis";
}
/*M-queries de Page Decoracion*/
.main-decoracion {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    column-gap: 5px;
    row-gap: 5px;
    padding: 8%;
    border-radius: 15%;
    grid-template-columns: repeat (2, 1 fr);
    grid-template-rows: repeat (4, 1 fr);
    grid-template-areas: 
    "text-banner text-banner"
    "uno dos"
    "tres cuatro"
    "cinco seis";

.text-banner {
    font-size: 18px;
    padding: 2% 0% 8% 0%
}}
/*M-queries de Page Registracion*/
.main-regis-media{
    display: grid;
    width: 100%;
    height: auto;
    font-size: 14px;
.registrarme-banner {
    font-size: 16px;
    margin: 60px 90px 60px 90px; 
}
.registrarme {
    text-align: center;
    font-size: 14px;
    padding: 25px
}
.class-formu {
    padding: 50px 180px 60px 180px;
}
}
footer {
    display: flex;
    width: 100%; 
    height: auto;
    flex-direction: row;  
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
}
section ul li a img {
    width: 19px;
    height: 19px; }
.iconos-footer {
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: 55px 15px 49px 15px;
}
.texto-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    text-align:left;
    color:#FFFFFF;
}}
